/* reset */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

ul,
ol,
li {
  list-style: none;
}
a {
  text-decoration: none;
}
body{
  margin: auto;
  max-width: 1200px;
  min-height: 100vh;
  padding: 10px;
  background-color: #131315;
  color: #fff;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}